certifi==2020.12.5
chardet==4.0.0
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
configobj==5.0.6
delegator.py==0.1.1
Flask==1.1.2
frida==14.2.2
frida-tools==9.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
litecli==1.5.0
MarkupSafe==1.1.1
objection==1.9.6
pexpect==4.8.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
Pygments==2.8.0
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
tabulate==0.8.9
terminaltables==3.1.0
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
